<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Student</h1>
</div>
<form #addForm="ngForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>First Name</label>
          <input type="text" name="firstName" class="form-control" [(ngModel)]="student.firstName"
                required
                minlength="3"
                #firstNameValidator="ngModel">
          <div *ngIf="(firstNameValidator.invalid && firstNameValidator.touched)
                      || (firstNameValidator.invalid && formAdd.submitted) " class="alert alert-danger">
            <div *ngIf="firstNameValidator.errors.required"> Name is required</div>
            <div *ngIf="firstNameValidator.errors.minlength"> at least 3 carcters</div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label>Last Name</label>
          <input type="text" name="lastName"  class="form-control" [(ngModel)]="student.lastName">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Email</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="student.email"
                  email #emailValidator="ngModel">
          <div *ngIf="addForm.submitted && emailValidator.invalid" class="alert alert-danger"> Email must be a valid address</div>
          <div *ngIf="addForm.submitted && emailValidator.errors.required" class="alert alert-danger"> is required</div>
        </div>
        <div class="col-md-12 mb-3">
          <label>Password</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="student.password">
        </div>
        <div class="col-md-12 mb-3">
          <label>Phone number</label>
          <input type="text" name="phone" class="form-control" [(ngModel)]="student.phone">
        </div>
      </div>
      <div class="form-group text-right">
        <button type="button"
          class="btn btn-secondary">Cancel</button>
        <button *ngIf="student.id" type="submit" class="btn btn-success">Update  Student</button>
        <button *ngIf="!student.id" type="submit" class="btn btn-success">Add Student</button>
      </div>
    </div>
  </div>
</form>
